:root{
    --body: linear-gradient(45deg, hsl(210, 25%, 20%), hsl(209, 25%, 30%));
    --primary:#263340;
    --secondary:#20e4b4;
    --tetiary:#fff;
    --black:#000;
    --pink:#e04270;
    --hero-img:hsl(210, 25%, 52%);
}

@font-face {
    font-family: 'MyWebFont';
    src: url('font/MIXOfont.ttf') format('truetype'), ;
         /* url('font/MIXOfont.woff') format('woff');    */
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Nunito';
    src: url('font/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap; 
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
h1, h2, h3, h4, h5, h6, li{
    font-family: "MyWebFont", serif;
    font-style: normal;
    font-weight: 700;
}
body{
    font-size: 1rem;
    background: var(--body);
    color:var(--tetiary);
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden !important;
    position: relative;
    font-family: "Nunito", sans-serif;
}
li, .logo svg{
    padding: .5rem .75rem;
    transition: .2s ease;
    width: fit-content;
}
li:hover, .logo svg:hover{
    background-color: var(--secondary) !important;
}
.flex{
    width: fit-content;
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.border{
    padding: .5rem 1rem;
    border: 2px solid var(--tetiary);
}
.smaller{
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
}
.text-center{
    text-align: center;
}
.desk-hidden{
    display: none;
}







/* search modal */
.modal-open {
    position: fixed !important;
    width: 100%;
    overflow: hidden;
}
.s-modal{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}
.s-modal-inner{
    width: 38%;
    margin: 0 auto;
    margin-top: 6rem;
}
.s-modal-box{
    background-color: var(--primary);
    padding: 1rem 1.5rem;
}
.s-modal-box p{
    color: var(--secondary);
    font-size: 1rem;
    text-align: right;
    padding-top: .5rem;
}
.s-modal-box span{
    color: var(--secondary);
    font-size: .875rem;
    font-weight: 700;
}
.search-box-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border:2px solid var(--secondary);
    padding: .5rem;
}
.search-box-inner svg{
    height: 1rem;
    fill: #263340;
    color: #263340;
    cursor: pointer;
}
.search-box-inner input{
    width: 100%;
    margin: 0 .5rem;
    outline: none;
    font-size: .875rem;
    height: 1.5rem;
    overflow: hidden;
}



/* header section */
header{
    position: sticky;
    top: 0;
    z-index: 9999999;
}
.header-outer{
    background-color: var(--primary);
    color: var(--tetiary);
    padding: .45rem 0 .3rem 0;
}
.header-inner{
    padding: .48rem 0;
    width:90%;
    margin:0 auto;
    align-items: center;
    position: relative;
}


/* header nav */
.header-inner  nav ul{
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 200;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}


/* menu */
.logo, .menu-outer{
    width: 33%;
}
.logo svg{
    position: relative;
    height: 2.6rem;
    left: -1rem;
    font-weight: 700;
    fill: var(--tetiary) !important;
    color: var(--tetiary);
    cursor: pointer;
}
.ham-outer{
    padding: .5rem 1rem;
    position: relative;
    z-index: 9999;
}
.ham1, .ham2, .ham3, .ham4{
    height: 3px;
    margin-bottom: .25rem;
    background: var(--tetiary);
    margin-left:auto ;
    transition: width 0.5s ease;
}
.ham1{
    width:1.5rem ;
}
.ham2{
    width:2rem ;
}
.ham3{
    width:1.75rem ;
}
.ham4{
    width:2.25rem ;
}

.ham-outer:hover .ham1, .menu:hover .ham1 {
    animation: widthChange1 0.5s infinite alternate;
 }
 .ham-outer:hover .ham2, .menu:hover .ham2 {
    animation: widthChange2 0.5s infinite alternate;
 }
 .ham-outer:hover .ham3, .menu:hover .ham3 {
    animation: widthChange3 0.5s infinite alternate;
 }
 .ham-outer:hover .ham4, .menu:hover .ham4 {
    animation: widthChange4 0.5s infinite alternate;
 }
.menu .search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1.3rem;
    right: 7rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in;
    fill: var(--tetiary);   
    z-index: 9999;
}
.menu{
    width: fit-content;
    position: relative;
    margin-left: auto;
    right: -.75rem;
}
.menu:hover .sidebar, .sidebar:hover{
    right: -5rem;
    opacity: 1;
    visibility: visible; 
    display: block;
    transition: .3s all ease;   
}
.menu:hover .search{
    opacity: 1;
    visibility: visible;  
    pointer-events: auto; 
}
nav{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center !important;
    align-items: center;
}
nav li{
    font-size: 1.125rem;
    font-weight: 500;
}


/* .sidebar */
.sidebar{
    position: absolute;
    height: 100vh;
    width: 25vw;
    top:0;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    display: none;
    background-color: var(--primary);
    padding: 4.5rem 1rem 3rem .875rem;
    transition: .3s all ease-in; 
}

.sidebar .flex{
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}
.sidebar .flex li{
    /* margin: 1rem; */
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
}
.sidebar .social-icons{
    position: relative;
    bottom: 3.5rem;
    left: 1rem;
}
.social-icons svg{
    padding: .5rem;
    fill: var(--tetiary);
    height: 3rem;
    width: 3rem;
    transform: all .3s ease;
}
.social-icons svg:hover{
    background-color: var(--secondary);
    transform: all .3s ease;
}


/* Hero section */
.hero-section{
    text-align: center;
    padding: 5rem 0 2rem 0 ;
    background-color: var(--primary);
    overflow-y: hidden;
}
.hero-section p{
    margin-top: .7rem;
    font-weight: 300;
}
.hero-head, .info-head, .library-head, .faq-head{
    font-size: 3.75rem;
    text-transform: capitalize;
    text-align:center;
    color: var(--tetiary);
    font-weight: 400;
    padding-bottom: .3rem;
}
.hero-head{
    text-shadow: 10px 0px 5rem var(--hero-img);
    /* filter: drop-shadow(10px 0px 37px rgba(255, 255, 255, 0.274)) */
}

.hero-desc, .sub-head, .faq-question h4{
    font-size: 1.25rem;
    text-align:center;
    width: 50%;
    margin: 1rem auto;
    font-weight: 400;
}
.hero-desc span{
    font-weight: 700;
}
.hero-icons{
    max-width: fit-content;
    fill:var(--tetiary);
    margin: 1.5rem auto;
    font-size: 1.75rem;
}
.f-linux{
    width: 1.75rem;
    height: 1.75rem;
}
.hero-icons svg {
    margin: 0 1rem;
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
}
.hero-section button{
    margin:0 auto;
}
.btn-style {
    position: relative;
    z-index: 99;
    overflow: hidden;
    pointer-events: auto;
    transition: all .55s ease;
    font-weight: 500;
}
.btn-style::before{
    content: '';
    height: 300px;
    width: 300px;
    position: absolute;
    background-color:var(--secondary) ;
    z-index: -1;
    left: -500px;
    top: 60%;
    transform: translateY(-50%) rotate(35deg);
    transition: all .55s ease;
}
.btn-style:hover::before { 
    color: var(--primary);
    left: 0;
    background-color: var(--secondary);
}
.form-item-go:hover{
    border: 2px solid var(--secondary);
}

.btn-get{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
}



/* slideshow section */
.slideshow-outer, .mixo-video-outer{
    position: relative;
    width: 90%;
    height:fit-content;
    margin: 2rem auto 6rem auto;
    column-gap: 2rem;
}
.slideshow-outer button{
    background-color: transparent;
    outline: none;
    border: none;
}
.slideshow-outer button svg{
    height: 2rem;
    width: 2rem;
    fill: #fff;
}
.slideshow-inner{
    box-shadow: 0 0 15rem 0px var(--hero-img);
}
.slider {
    display: flex;
    transition: transform 0.5s ease;
    min-height: 100%;
}
.slide {
    min-width: 100%;
    min-height:100% !important;
    height: 100%;
    object-fit: contain;
}
.slideshow-inner, .mixo-video-inner{
    max-width: 90%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto ;
    background-color: var(--primary);
    height: 80vh;
}





/* convert section */
.mobile-small{
    font-size: 3rem;
}
.info-outer{
    padding: 3rem 0;
    background:var(--primary);
    z-index: 99;
}
.info-outer form{
    width: fit-content;
    overflow: hidden;
    margin: 0 auto;
    column-gap: 1rem;
}
.info-slider{
    height:12rem;
    width:100%;
    margin:3rem 0;
    overflow: hidden;
}
.info-slider-inner {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    animation: slide 20s linear infinite;
}
.info-slider-inner svg{
    font-size: 8rem;
}
.items-box{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ripple {
    position: absolute;
    pointer-events: none;
    fill: var(--secondary);
    opacity: 0.5;
    animation: rippleEffect 1.5s ease-out forwards;
}
.items-box h4{
    color: var(--tetiary);
    font-size: .875rem;
    text-align: center;
}
.items-box svg{
    fill: var(--tetiary) ;
    width: 6.25rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.items-box h4, p, .time{
    font-weight: 500;
    font-family: "Nunito", sans-serif;
}
/* convert form */
form select{
    color:var(--tetiary);
    outline:none;
    font-family: "Nunito", sans-serif;
    font-weight: 100;
}
form .form-item-go{
    padding: .875rem 1rem;
    font-family: "Nunito", sans-serif;
    justify-content: center;
}
.form-item-go svg{
    height: 1.3rem;
    width: 1.3rem;
    padding: 0 0 0 .5rem;
}
form svg {
    height: 2rem;
    fill: var(--tetiary);
    margin: 0 .5rem;
}
button, .form-item{
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 700;
    width:fit-content;
    justify-content: center;
    color: var(--tetiary);
    cursor: pointer;
}
.slider-active path{
    fill: var(--secondary) !important;
}




/* library section */
.library-outer{
    background: var(--body);
    padding: 3rem 0;
}
.library-outer .sub-head{
    width:60%;
}
.library-image{
    height: auto;
    width: 100%;
    margin: 0 auto;
    justify-content: center ;
    
}
.library-image-inner{
    width: 65%;
    margin: 2rem auto 0 auto;
}
.library-image-inner svg{
    object-fit: contain;
    width: 100%;
}
.fill-tetiary{
    fill: var(--secondary);
}
.fill-primary{
    fill: var(--tetiary);
}







/* video preview section */
.mixo-video-outer{
    padding-top: 3rem;
}

.mixo-video-inner{
    position: relative;
    width: 80%;
    height: 87vh;
}
.mixo-video-inner img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.vid-play{
    height: 3rem;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 10px #000;
    fill:#fff;
}







/* faq section */
.faq-inner, .aside-two{
    padding: 3rem 0;
    background:var(--body);
}
.faq-inner{
    width: 100%;
    padding: 0 5% 0 5%;
}
.faq-inner .faq-head{
    padding-bottom: 1.5rem;
}
.faq-item {
    margin-bottom: 1.5rem;
    background-color: var(--primary);
    transition: .3s all linear;
}
.faq-question{
    padding:.5rem 0;
    cursor: pointer;
}
.faq-item h4{
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
}
.faq-item .faq-toggle{
    display:none;
    transition: .3s all linear;
}
#faq-item .faq-toggle, #faq-item li{
    color: rgb(168, 168, 168);
    font-size: 1rem;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
}
#faq-item li{
    padding: 0.3rem 0;
    margin-left: 1.3rem;
    list-style: circle;
}
.faq-item .faq-question{
    text-align: left;
}

/*DJ experience section  */
.aside-two button{
    margin: 0 auto .8rem auto;
}

.btn-style-foot{
    position: relative;
}
.btn-style-foot::after {
    background-color: var(--secondary);
    content: "";
    height: 200px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -10rem;
    transform: rotate(35deg);
    animation: btnslide 1.5s linear 3s infinite;
    width: 50px;
}
.btn-style-foot:hover::after {
    transform:rotate(35deg) translateX(500%);
    transition: .1s all linear;
}






/* footer section */
.footer-inner {
    align-items: flex-start; 
    font-size:1rem;
    margin: 4.5rem auto 3rem auto;
    width: 35%;
    justify-content: space-between;
    column-gap: 2rem;
    position: relative;
}
.footer-inner ul li{
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto .5rem auto;
}
.footer-outer{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.footer-icons{
    position: fixed;
    display: flex;
    max-width: 95%;
    width: 95%;
    height: fit-content;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    overflow: hidden !important;
    pointer-events: none;
    z-index: 9999999;
}

.f-icon-pallete, .f-chat-btn{
    pointer-events: visible;
}
button .f-icon{
    height:1.5rem;
    width: 1.5rem;
    color:var(--primary); ;
    fill: var(--primary);
    margin:.4rem;
}
.footer-icons button{
    background-color: var(--tetiary);
    box-shadow: 1px 1px 5px var(--black);
    border: 1px solid  var(--primary) !important;
    transition: .2s ease-in;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
.footer-icons button:hover{
    background-color: var(--secondary);
}
.footer-outer button{
    outline: none;
    border: none;
}
.menu, header li, footer li {
    cursor: pointer;
}






/* nav hiver animation */
 @keyframes widthChange1 {
    0% { width: 1.5rem; }
    100% { width: 1.65rem; }
 }
 @keyframes widthChange2 {
    0% { width: 2.15rem; }
    100% { width:2rem ; }
 }
 @keyframes widthChange3 {
    0% { width: 1.75rem; }
    100% { width: 1.85rem; }
 }
 @keyframes widthChange4 {
    0% { width: 2.35rem; }
    100% { width: 2.25rem; }
 }






/* live chat style */
.live-chat{
    position: fixed;
    bottom: 3rem;
    width: 20vw;
    right: 2.5rem;
    z-index: 99;
    display: none;
    z-index: 99999999;
}
.live-chat-inner .lc-top {
    height: fit-content;
    background-color: var(--secondary);
    color: var(--tetiary);
    width: 100%;
    padding: 1rem .875rem; 
}
.lc-top-inner{
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center; 
    font-weight: 700;
    font-size: 1rem;
}
.lc-top svg{
    height: 1.5rem;
    width: fit-content;
    fill:var(--tetiary);
    cursor: pointer;
}
.lc-textarea{
    height: 8rem;
    width: 100%;
    background: #fff;
}
.live-chat.show {
    display: block;
}




/* slider animation */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* get started animation */
@keyframes btnslide {
    0% { transform: rotate(35deg) translateX(-100%); }
    100% { transform: rotate(35deg) translateX(500%); }
}


/* convert scale animation */
@keyframes rippleEffect {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}







/* larger device than mobile phones */
@media (min-width: 769px) and (max-width: 1200px) {
    /* slideshow */
    .slideshow-inner{
        width: 100%;
        max-width: 100%;
    }
    .slideshow-outer, .mixo-video-outer{
        width: 98%;
        column-gap:.5rem;
    }
    .slideshow-outer button svg{
        height: 1.5rem;
        width: 1.5rem;
    }


    /* footer */
    .footer-inner{
        width: 35%;
    }

}










/* smaller screen style */

@media (max-width:768px) {
    .desk-hidden{
        display: flex !important;
    }
    .hero-icons{
        font-size: 1.3rem;
    }
    .f-linux{
        width: 1.3rem;
    }
    .hero-icons svg{
        margin: 0 .875rem;
    }
    
    .mobile-small{
        font-size: 1.2rem;
        font-weight: 100;
    }
    
    
    
    
    /* header section */
    .header-outer{
        padding: .25rem 0;
    }
    .header-inner nav{
        display: none;
    }
    .logo svg{
        /* height: 2rem; */
        left: 0;
    }
    .menu-outer .active {
        right: -5rem !important;
        opacity: 1;
        visibility: visible; 
    }
    .hero-head, .info-head, .library-head, .faq-head{
        font-size: 2rem;
        width: 90%;
        margin: 0 auto;
        padding-bottom: .2rem;
    }
    .hero-desc, .sub-head, .faq-question h4{
        width: 85%;
        font-weight: 100;
        line-height: 1.5rem;
    }


    .menu .search{
        height: 1.3rem;
        opacity: 1;
        visibility: visible; 
        right: 3.5rem;
        pointer-events: auto !important;
        width: fit-content;
        z-index: 9999999;
    }
    .menu{
        right:0;
    }




    /* sidebar */
    .ham-outer{
        padding: 0;
    }
    .sidebar .social-icons{
        bottom: 11rem !important;
    }
    .social-icons svg{
        font-size: 2rem;
    }
    .sidebar{
        position: fixed;
        width: 90vw; 
        top:2rem;
        right: -5000rem !important; 
        padding: 2rem .5rem;
        margin-top: 2rem;
    }
    .menu:hover .sidebar{
        right: unset;
    }
    .sidebar .flex li{
        margin: .7rem;
        font-size: 1rem;
    }
    .sidebar-open {
        overflow: hidden;
        position: fixed;
        width: 100vw;
    }




    /* hero section */
    .hero-section{
        text-align: center;
        padding: 3rem 0 2rem 0 ;
    }


    li{
        padding: .1rem;
    }
    .library-outer .sub-head{
        width:90%;
    }
    .library-image-inner{
        width: 100%;
    }

    /* slideshow section */
    .slideshow-outer, .mixo-video-outer{
        width: 93%;
        margin: 2rem auto 2.5rem auto;
        column-gap: .5rem;
    }
    .slideshow-inner, .mixo-video-inner{
        max-width: 100%;
        width: 100%;
        background-color: transparent;
        height: 25vh;
    }
    .slideshow-outer button svg{
        height: .875rem;
        width: .875rem;
        fill: #fff;
    }
    .slider{
        height: 100%;
    }
    .slideshow-outer button i{
        font-size: 1rem;
    }
    .slider img{
        min-height: 100%;
        object-fit: cover;
        object-position: top left;
    }
    .prev-btn, .next-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .prev-btn{
        left: 0;
        z-index: 999;
    }
    .next-btn{
        right: 0rem;
    }




    /* convert section */
    .info-outer form{
        width: 100%;
        column-gap: .8rem;
    }
    .info-slider{
        height:auto;
    }
    .info-slider-inner {
        column-gap: 3rem;
    }
    .items-box{
        row-gap: .5rem;
    }
    .items-box h4{
        font-size: .75rem;
    }
    .items-box svg{
        width: 3rem;
    }
    /* convert form */
    form select{
        max-width: 30%;
        overflow-x: scroll;    
    }
    form select option .border{
        padding: .1rem auto !important;
    }

    

    /* library section */
    .library-image{
        height: auto;
        width: 95%;
        
    }
    .library-outer .sub-head{
        width:90%;
    }
    .library-image-inner{
        width: 100%;
    }


    
    /* video preview section */
    .vid-play{
        height: 2rem;
    }





    /* faq section */
    .faq-inner, .aside-two{
        padding: 3rem 0;
    }





    /* footer section */
    
    .footer-icons{
        width: 90%;
        overflow: hidden;
    }
    .footer-inner {
        margin: 3rem auto 6.5rem auto;
        width: 82%;
        justify-content: space-between;
        column-gap: 2rem;
    }
    footer .footer-inner ul li{
        text-align: center;
        font-size: .75rem;
        font-weight: 100;
    } 





    
    
    .smaller{
        font-size: 1.3rem;
    }
    
    
    /* live chat style */
    .live-chat{
        bottom: 3rem;
        width: 70vw;
        right: 1.5rem;
    }


    /* search modal mobile */
    .s-modal-inner{
        width: 90%;
    }

}




