@font-face {
    font-family: 'MyWebFont';
    src: url('font/MIXOfont.ttf') format('truetype'), ;
         /* url('font/MIXOfont.woff2') format('woff2'), 
         url('font/MIXOfont.woff') format('woff');    */
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, li{
    font-family: "MyWebFont", serif;
    font-style: normal;
    font-weight: 400;
}
body{
    font-size: 1rem;
    background: #263340 linear-gradient(45deg, hsl(210, 25%, 20%), hsl(209, 25%, 30%));
    color:#fff;
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden !important;
}
li, .logo{
    padding: .1rem .5rem;
    transition: .2s ease;
    width: fit-content;
    letter-spacing: 0.05rem;
}
li:hover, .logo:hover{
    background-color: #20e4bd;
}
.flex{
    width: fit-content;
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
header{
    position: sticky;
    top: 0;
    z-index: 9999999;
}
.logo, .menu-outer{
    width: 33%;
}
.logo img{
    object-fit: contain;
    height: auto;
    width: 10rem;
}
.header-outer{
    background-color: #263340;
    color: #fff;
    padding: .7rem 0;
}
.btn-style {
    position: relative;
    z-index: 99;
    overflow: hidden;
    pointer-events: auto;
}

.btn-style::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #20e4bd;
    transition: left 0.2s linear;
    z-index: -1;
}

.btn-style:hover::before {
    left: 0;
}

.btn-style:hover {
    border: 2px solid #20e4bd;
    color: #263340;
}
.header-inner{
    width:90%;
    margin:0 auto;
    align-items: center;
    position: relative;
}
.sidebar{
    position: absolute;
    height: 100vh;
    width: 25vw;
    top:2.2rem;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    background-color: #263340;
    padding: 3rem 1.5rem;
    transition: .3s all ease-in;   
}
.menu .search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    right: 5rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in;   
}
.sidebar .flex{
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}
.sidebar .flex li{
    margin: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}

.menu{
    width: fit-content;
    margin-left: auto;
}
.menu:hover .sidebar, .sidebar:hover{
    right: -5rem;
    opacity: 1;
    visibility: visible; 
    transition: .3s all ease;   
}
.menu:hover .search{
    opacity: 1;
    visibility: visible;   
}
nav{
    width: 33%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-inner  nav ul{
    width: 100%;
    margin: 0 auto;
    column-gap: .8rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
}
.header-inner .fa-bars{
    font-size: 1.8rem;
    display: flex;
    justify-content: end;
}
.hero-section{
    text-align: center;
    padding: 5rem 0 2rem 0 ;
    background-color: #263340;
    overflow-y: hidden;
}
.hero-section h5{
    margin-top: .7rem;
    font-weight: 300;
}
.hero-head, .info-head, .library-head, .faq-head{
    font-size: 3.75rem;
    text-transform: capitalize;
    text-align:center;
    color: #fff;
    font-weight: 400;
    padding-bottom: .3rem;
}
.hero-head{
    text-shadow: 3px 3px 3rem rgba(255, 255, 255, 0.274);
}

.hero-desc, .sub-head, .faq-question h4{
    font-size: 1.25rem;
    text-align:center;
    width: 50%;
    margin: 1rem auto;
    font-weight: 400;
}
.hero-icons{
    max-width: fit-content;
    /* color:#fff; */
    margin: 1.5rem auto;
    font-size: 1.8rem;
}
.hero-icons i {
    margin: 0 1rem;
}
.border{
    padding: .7rem 1.3rem;
    border: 2px solid #fff;
}
.hero-section button{
    margin:0 auto;
}
button, .form-item{
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 700;
    width:fit-content;
    justify-content: center;
    color: #fff;
}
.smaller{
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
}
.faq-item .faq-question{
    text-align: left;
}
.footer-inner{
    align-items: flex-start; 
    font-size:1rem;
}
.slideshow-outer, .mixo-video-outer{
    width: 90%;
    height:fit-content;
    margin: 2rem auto 6rem auto;
    column-gap: 2rem;
    /* overflow: hidden; */
    
}
.mixo-video-outer{
    padding-top: 3rem;
}
.slideshow-inner, .mixo-video-inner{
    max-width: 90%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto ;
    background-color: #000;
    height: 80vh;
}
.mixo-video-inner{
    position: relative;
}
.vid-play{
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slideshow-inner{
    box-shadow: 0 0 15rem 0px rgba(255, 255, 255, 0.274);
}
.slider {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
    min-height:100%;
    height: 100%;
    object-fit: contain;
}
.slideshow-outer button{
    background-color: transparent;
    outline: none;
    border: none;
}
.slideshow-outer button i{
    font-size: 2rem;
}
.info-outer{
    padding: 3rem 0;
    background:#263340;
    z-index: 99;
}
.faq-inner, .aside-two{
    padding: 3rem 0;
    background:linear-gradient( 45deg, hsl(210, 25%, 20%), hsl(209, 25%, 30%) );
}
.info-outer form{
    width: fit-content;
    overflow: hidden;
    margin: 0 auto;
    column-gap: 2.5rem;
}
form select{
    color:#fff;
}
form .form-item-go{
    padding: 1rem 1.3rem;
}

.info-slider{
    height:12rem;
    width:100%;
    margin:3rem 0;
}
.library-outer{
    background: linear-gradient( 45deg, hsl(210, 25%, 20%), hsl(209, 25%, 30%) );
    padding: 3rem 0;
}
.library-outer .sub-head{
    width:60%;
}
.faq-inner{
    width: 100%;
    padding: 0 5% 0 5%;
}
.faq-inner .faq-head{
    padding-bottom: 1.5rem;
}
.faq-item {
    margin-bottom: 1.5rem;
    background-color: #263340;
    transition: .3s all linear;
}
.faq-question{
    padding:.5rem 0;
}
.faq-item .faq-toggle{
    display:none;
    transition: .3s all linear;
}
#faq-item .faq-toggle, #faq-item li{
    color: gray;
    font-size: 1rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
#faq-item li{
    padding: 0.3rem 0;
    margin-left: 1.3rem;
    list-style: circle;
}
.text-center{
    text-align: center;
}
.aside-two button{
    margin: 0 auto .8rem auto;
}
.footer-inner {
    margin: 4.5rem auto 3rem auto;
    width: 45%;
    justify-content: space-between;
    column-gap: 2rem;
}
.footer-inner ul li{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1.8rem !important;
    margin: 0 auto;
}

.library-image{
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    justify-content: center ;
    
}
.library-image h1{
    font-size: 6rem;
    font-weight:900;
    text-transform: uppercase;
}
form i {
    font-size: 2rem;
}
.info-slider {
    width: 100%;
    overflow: hidden;
}

.info-slider-inner {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    animation: slide 20s linear infinite;
}
.info-slider-inner i{
    font-size: 8rem;
}
.desk-hidden{
    display: none;
}
.items-box{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
}
.items-box h4{
    color: #fff;
    font-size: .875rem;
    text-align: center;
}
.footer-outer{
    position: relative;
}
.footer-icons{
    position: fixed;
    display: flex;
    width: 95%;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
}
.f-icon{
    font-size: 1rem;
    padding: .58rem .5rem;
    border-radius: 50%;
    color: #263340;
    background-color: #fff;
    transition: .2s ease-in;
}
.f-icon:hover{
    background-color: #20e4bd;
}
.items-box img{
    filter: invert(100%) brightness(200%);
    width: 6rem;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width:768px) {
    .desk-hidden{
        display: flex !important;
    }
    .header-inner nav{
        display: none;
    }
    .hero-head, .info-head, .library-head, .faq-head{
        font-size: 2rem;
        width: 90%;
        margin: 0 auto;
        padding-bottom: .2rem;
    }
    .hero-desc, .sub-head, .faq-question h4{
        font-size: .875rem;
        width: 90%;
        font-weight: 100;
        line-height: 1.5rem;
    }
    .mobile-small{
        font-size: 1.3rem;
    }
    .slideshow-outer, .mixo-video-outer{
        width: 93%;
        margin: 2rem auto 3.5rem auto;
        column-gap: .5rem;
    }
    .slideshow-inner, .mixo-video-inner{
        max-width: 100%;
        width: 100%;
        background-color: transparent;
        height: auto;
    }
    .info-slider-inner i{
        font-size: 4rem;
    }
    .info-slider{
        height:auto;
    }
    .info-slider-inner {
        column-gap: 3rem;
    }
    .footer-inner {
        margin: 3rem auto;
        width: 90%;
        justify-content: space-between;
        column-gap: 2rem;
    }
    footer .footer-inner ul li{
        text-align: center;
        font-size: .75rem;
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 1rem;
    } 
    .faq-inner, .aside-two{
        padding: 3rem 0;
    }
    .slideshow-outer button i{
        font-size: 1rem;
    }
    .header-outer{
        padding: 1.3rem 0;
    }
    li{
        padding: .1rem;
    }
    .library-image{
        height: 50vh;
        width: 95%;
        
    }
    .library-image h1{
        font-size: 3rem;
    }
    .mixo-video-inner img{
        height: 30vh;
        object-fit: cover;
    }
    .library-outer .sub-head{
        width:90%;
    }
    .hero-section{
        text-align: center;
        padding: 3rem 0 2rem 0 ;
    }
    .sidebar{
        position: fixed;
        width: 90vw; 
        right: -5000rem !important; 
        padding: 2rem .5rem;
        margin-top: 3rem;
    }
    .menu-outer .active {
        right: -5rem !important;
        opacity: 1;
        visibility: visible; 
    }
    .menu:hover .sidebar{
        right: unset;
    }
    .sidebar .flex li{
        margin: .7rem;
        font-size: 1rem;
    }
    .sidebar-open {
        overflow: hidden;
        position: fixed;
        width: 100vw;
    }
    form select{
        max-width: 30%;
        overflow-x: scroll;
    }
    form select option .border{
        padding: .1rem auto !important;
    }
    .info-outer form{
        width: 100%;
        column-gap: .8rem;
    }
    .footer-icons{
        width: 90%;
    }
    .items-box{
        row-gap: .5rem;
    }
    .items-box h4{
        font-size: .75rem;
    }
    .items-box img{
        height: 3rem;
    }
    .menu .search{
        font-size: 1rem;
        opacity: 1;
        visibility: visible; 
        right: 3.5rem;
    }
    .logo img{
        position: relative;
        left: -1.5rem;
        width: 6rem;
    }
}
